@charset 'UTF-8';
@import 'sassConfig';

#slide-wrap {
    position: relative;
    overflow: hidden;
}

.slide-content {
    position: relative;
    left: 0;
    @include webkit(transition, all 1s ease 0s);

    li {
        float: left;
    }
}

.slide-nav {
    position: absolute;
    left: 50%;
    bottom: 15px;
    // margin-left: ;
    font-size: 0;
    z-index: 2;
    text-align: center;

    a {
        display: inline-block;
        width: 8px;
        height: 3px;
        margin: 0 3px;
        background-color: #fff;
        opacity: 0.5;
        filter: alpha(opacity=50);

        &.current {
            opacity: 1;
            filter: alpha(opacity=100);
        }
    }
}

.slide-prev,
.slide-next {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    background-color: #fff;
    line-height: 50px;
    text-align: center;
    cursor: pointer;

    .iconfont {
        font-size: 24px;
    }
}

.slide-next {
    right: 20px;
}

.slide-prev {
    left: 20px;
}

/* 图文列表 */
.info-list {
    padding: 0 45px;

    figure {
        float: left;
        width: 33.33333%;
        padding: 0 25px;
        @include webkit(box-sizing, border-box);
    }

    img {
        width: 100%;
    }

    figcaption {
        padding: 24px 0 10px 0;
        margin-bottom: 11px;
        border-bottom: 1px solid #a0a0a0;
        font-size: 18px;
        color: $text-main;
    }

    p {
        line-height: 22px;
        color: $text-gray;
    }
}

.more-link {
    display: block;
    width: 108px;
    height: 35px;
    margin: 55px auto 90px;
    border: solid 1px #e8e8e8;
    border-radius: 100px;
    font-weight: normal;
    line-height: 37px;
    color: $text-gray;
    text-align: center;
    @include webkit(transition, all .5s ease 0s);

    &:hover {
        background-color: $color-main;
        color: #fff;
        border-color: $color-main;
    }
}

/* 郎朗公益 */
.welfare {
    margin-bottom: 90px;

    header {
        background-color: #efefef;
    }
}

.welfare-wrap {
    display: flex;
    height: 570px;

    .row {
        flex: 1;
    }

    .row:last-child {
        .content-flex-small {
            order: 1;
        }

        .content-flex-big {
            order: 2;
        }
    }

    .content-flex {
        display: flex;
        height: 100%;
        /* 等于父元素 */
        flex-direction: column;
    }

    .content-flex-big {
        flex: 2;
    }

    .content-flex-small {
        flex: 1;
    }

    /* .content-big {
        height: 380px;
    }

    .content-small {
        height: 190px;
    } */
    img {
        display: block;
        /* 解决图片底部的空隙 */
    }

    .content-dec {
        padding: 42px 48px 0 40px;

        .title {
            font-size: 24px;
        }

        time {
            display: block;
            margin: 12px 0 19px;
            opacity: .5;
            filter: alpha(opacity=50);
        }

        .line {
            display: block;
            width: 38px;
            height: 1px;
            margin-bottom: 31px;
            background-color: #010101;
            opacity: 0.2;
            filter: alpha(opacity=20);
        }

        p {
            line-height: 24px;
            color: $text-main;
            font-weight: normal;
        }

        .link-more {
            margin-top: 16px;
        }
    }

    .color-white {

        .title,
        time,
        p,
        .dec,
        .link-more {
            color: #fff;
        }

        .link-more {
            border-color: #fff;
        }
    }
}

/* doctor */
.doctor {
    padding: 90px 0;
    background-color: #f6f6f6;

    .img {
        float: left;
        position: relative;
    }

    .content {
        margin-left: 565px;
    }

    .swiper-pagination {
        left: 0;
        right: 0;
        margin-top: 45px;

        span {
            margin: 0 2px;
        }
    }

    .swiper-pagination-bullet {
        width: 8px;
        height: 3px;
        background-color: #a0a0a0;
        border-radius: 0;
        opacity: 1;
        filter: alpha(opacity=100);
    }

    .swiper-pagination-bullet-active {
        background-color: #000000;
    }
}

.doctor-info {
    .name {
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -24px;
        height: 48px;
        padding: 0 28px;
        background-color: rgba(0, 0, 0, .2);
        color: #fff;
        line-height: 48px;
        font-size: 18px;
    }

    .txt {
        display: block;
        padding: 12px 0 19px 0;
        font-weight: normal;
        color: $text-gray;
    }

    .title {
        padding-top: 13px;
        font-size: 18px;
        font-weight: normal;
        color: $text-main;
    }

    .line {
        display: block;
        width: 38px;
        height: 1px;
        background-color: #000000;
        opacity: 0.2;
    }

    .dec {
        padding-top: 26px;
        padding-bottom: 22px;
        line-height: 21px;
        font-weight: normal;
        color: #a0a0a0;
    }

    .link-more {
        margin-left: -13px;
        border: none;
        color: $text-main;
        font-weight: normal;
        opacity: 0.8;
    }
}

/* news-wrap */
.news-wrap {
    overflow: hidden;/* 裁剪box超出的部分 */
    padding: 73px 0 102px 0;
    .box{
        margin-left: -15px;
        margin-right: -15px;
    }
    // display: flex;
    img{
        width: 100%;
        display: block;
    }
    .item {
        float: left;
        width: 25%;
        padding: 0 15px;
        @include webkit(box-sizing,border-box);
    }

    .title {
        padding: 25px 0 11px 0;
        font-size: 18px;
        color: $text-main;
    }

    time {
        display: block;
        margin-bottom: 13px;
        color: $text-gray;
    }

    .line {
        display: block;
        width: 50px;
        height: 1px;
        background-color: #a0a0a0;
    }

    .dec {
        padding: 15px 0 22px 0;
        font-weight: normal;
        line-height: 22px;
        color: $text-gray
    }
    .link-more{
        opacity: .4;
        filter: alpha(opacity=40);
    }
}