@charset 'UTF-8';
@import 'sassConfig';

#slide-wrap {
    position: relative;
    overflow: hidden;
}

.slide-content {
    position: relative;
    left: 0;
    @include webkit(transition, all 1s ease 0s);

    li {
        float: left;
    }
}

.slide-nav {
    position: absolute;
    left: 50%;
    bottom: 15px;
    // margin-left: ;
    font-size: 0;
    z-index: 2;
    text-align: center;

    a {
        display: inline-block;
        width: 8px;
        height: 3px;
        margin: 0 3px;
        background-color: #fff;
        opacity: 0.5;
        filter: alpha(opacity=50);

        &.current {
            opacity: 1;
            filter: alpha(opacity=100);
        }
    }
}

.slide-prev,
.slide-next {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    background-color: #fff;
    line-height: 50px;
    text-align: center;
    cursor: pointer;

    .iconfont {
        font-size: 24px;
    }
}

.slide-next {
    right: 20px;
}

.slide-prev {
    left: 20px;
}

/* 图文列表 */
.info-list {
    padding: 0 45px;

    figure {
        float: left;
        width: 33.33333%;
        padding: 0 25px;
        @include webkit(box-sizing, border-box);
    }

    img {
        width: 100%;
    }

    figcaption {
        padding: 24px 0 10px 0;
        margin-bottom: 11px;
        border-bottom: 1px solid #a0a0a0;
        font-size: 18px;
        color: $text-main;
    }

    p {
        line-height: 22px;
        color: $text-gray;
    }
}

.more-link {
    display: block;
    width: 108px;
    height: 35px;
    margin: 55px auto 90px;
    border: solid 1px #e8e8e8;
    border-radius: 100px;
    font-weight: normal;
    line-height: 37px;
    color: $text-gray;
    text-align: center;
    @include webkit(transition, all .5s ease 0s);

    &:hover {
        background-color: $color-main;
        color: #fff;
        border-color: $color-main;
    }
}

/* 郎朗公益 */
.welfare {
    margin-bottom: 90px;

    header {
        background-color: #efefef;
    }
}

.welfare-wrap {
    display: flex;
    height: 570px;

    .row {
        flex: 1;
    }

    .row:last-child {
        .content-flex-small {
            order: 1;
        }

        .content-flex-big {
            order: 2;
        }
    }

    .content-flex {
        display: flex;
        height: 100%;
        /* 等于父元素 */
        flex-direction: column;
    }

    .content-flex-big {
        flex: 2;
    }

    .content-flex-small {
        flex: 1;
    }

    img {
        display: block;
        /* 解决图片底部的空隙 */
    }

    .content-dec {
        padding: 42px 48px 0 40px;

        .title {
            font-size: 24px;
        }

        time {
            display: block;
            margin: 12px 0 19px;
            opacity: .5;
            filter: alpha(opacity=50);
        }

        .line {
            display: block;
            width: 38px;
            height: 1px;
            margin-bottom: 31px;
            background-color: #010101;
            opacity: 0.2;
            filter: alpha(opacity=20);
        }

        p {
            line-height: 24px;
            color: $text-main;
            font-weight: normal;
        }

        .link-more {
            margin-top: 16px;
        }
    }

    .color-white {

        .title,
        time,
        p,
        .dec,
        .link-more {
            color: #fff;
        }

        .link-more {
            border-color: #fff;
        }
    }
}

/* doctor */
.doctor {
    padding: 90px 0;
    background-color: #f6f6f6;

    .img {
        float: left;
        position: relative;
    }

    .content {
        margin-left: 565px;
    }

    .swiper-pagination {
        left: 0;
        right: 0;
        margin-top: 45px;

        span {
            margin: 0 2px;
        }
    }

    .swiper-pagination-bullet {
        width: 8px;
        height: 3px;
        background-color: #a0a0a0;
        border-radius: 0;
        opacity: 1;
        filter: alpha(opacity=100);
    }

    .swiper-pagination-bullet-active {
        background-color: #000000;
    }
}

.doctor-info {
    .name {
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -24px;
        height: 48px;
        padding: 0 28px;
        background-color: rgba(0, 0, 0, .2);
        color: #fff;
        line-height: 48px;
        font-size: 18px;
    }

    .txt {
        display: block;
        padding: 12px 0 19px 0;
        font-weight: normal;
        color: $text-gray;
    }

    .title {
        padding-top: 13px;
        font-size: 18px;
        font-weight: normal;
        color: $text-main;
    }

    .line {
        display: block;
        width: 38px;
        height: 1px;
        background-color: #000000;
        opacity: 0.2;
    }

    .dec {
        padding-top: 26px;
        padding-bottom: 22px;
        line-height: 21px;
        font-weight: normal;
        color: #a0a0a0;
    }

    .link-more {
        margin-left: -13px;
        border: none;
        color: $text-main;
        font-weight: normal;
        opacity: 0.8;
    }
}

/* partner.html */
.partner-list {
    .item {
        padding: 0 20px 84px 20px;
        opacity: 0.7;
        filter: alpha(opacity=70);
        @include webkit(transition, all .3s ease 0s);

        &:hover {
            opacity: 1;
            filter: alpha(opacity=100);
        }
    }

    .img {
        display: block;
        background: rgba(255, 255, 255, 1);
        box-shadow: 0px 0px 11px 0px rgba(4, 0, 0, 0.1);
        border-radius: 8px;
        @include webkit(transition, all .3s ease 0s);

        &:hover {
            box-shadow: 0px 0px 11px 0px rgba(4, 0, 0, 0.2);

        }
    }

    img {
        border-radius: 8px;
    }

    figcaption {
        padding-top: 33px;
        text-align: center;
        @include ell(1);
    }
}

/* 门诊列表 */
.hospital-wrap {
    .item {
        position: relative;
        margin-bottom: 81px;
        background-color: #fff;
        @extend %clearfix;
    }

    .item:last-child {
        .content:after {
            display: none;
        }
    }

    .item:nth-child(2n+1) {
        .hospital-logo {
            right: 0;
        }

    }

    .item:nth-child(2n) {
        .hospital-logo {

            left: 0;
        }

        .img-wrap,
        .content {
            float: right;
        }
    }

    .hospital-logo {
        position: absolute;
        width: 139px;
        height: 68px;
        background: rgba(255, 255, 255, 1);
        top: 50%;
        margin-top: -34px;
    }

    .img-wrap {
        position: relative;
    }

    .img-wrap,
    .content {
        float: left;
        width: 50%;
    }

    .content {
        padding: 50px 32px 0;
        @include webkit(box-sizing, border-box);

        &::after {
            content: "";
            position: absolute;
            bottom: -40px;
            left: 50%;
            margin-left: -30px;
            width: 60px;
            display: block;
            border: 1px solid #DDDDDD;
        }
    }

    .line {
        margin-top: 18px;
        margin-bottom: 3px;
    }

    .dec {
        margin-bottom: 14px;
        @include ell(1);
    }
}

/* 公益活动 */
.public-welfare {
    @extend .hospital-wrap;

    .item {
        margin-bottom: 100px;
        background-color: transparent;

        &:nth-child(2n) {
            .content {
                left: 0;
                right: auto;
            }
        }
    }

    .content {
        position: absolute;
        top: 73px;
        right: 0;
        // left: -51px;
        bottom: 0;
        padding-left: 50px;
        padding-right: 60px;
        width: -webkit-calc(50% + 53px);
        background-color: #fff;

        &:after {
            display: none;
        }
    }

    time {
        padding-top: 2px;
        padding-bottom: 12px;
    }

    .title {
        font-size: 24px;
    }

    .dec {
        margin-bottom: 22px;
        line-height: 30px;
        @include ell(3);
    }

    .line {
        margin-bottom: 14px;
        border-color: #21B8C6;
    }
}

.baidu-map {
    width: 100%;
    height: 398px;
}

.content-wrap {
    @extend %clearfix;

    .info {
        float: left;
        width: 400px;
        padding: 37px 0;
        background: #F9F9F9;
        text-align: center;

        h4 {
            font-size: 24px;
            margin-bottom: 28px;
        }

        span {
            display: block;
            margin-bottom: 10px;
            color: $text-main;
        }

        a {
            display: inline-block;
            margin-bottom: 26px;
            padding: 0 25px 0 23px;
            border-radius: 22px;
            background: $color-main;
            font-size: 18px;
            line-height: 44px;
            font-weight: 400;
            color: #FEFEFE;
        }

        strong {
            color: $color-main;
        }

        p {
            line-height: 20px;
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.message-form {
    margin-left: 500px;

    .title {
        border-top: 1px solid #E3E3E3;
        font-size: 18px;
        font-weight: 400;
        color: rgba(1, 1, 1, 1);
        text-align: center;
        line-height: 85px;
    }

    .input-item {
        margin-bottom: 26px;
        border-bottom: 1px solid rgba(227, 227, 227, 1);
    }

    input,
    textarea {
        width: 100%;
        padding: 12px 13px;
        @include webkit(box-sizing, border-box);
        border: none;
        font-size: 14px;
    }

    textarea {
        height: 112px;
    }

    input::-webkit-input-placeholder {
        /*Webkit browsers*/
        color: #a0a0a0;
    }

    input:-moz-placeholder {
        /*Mozilla Firefox 4 to 8*/
        color: #a0a0a0;
    }

    input::-moz-placeholder {
        /*Mozilla Firefox 19+*/
        color: #a0a0a0;
    }

    input:-ms-input-placeholder {
        /*Internet Explorer 10+*/
        color: #a0a0a0;
    }

    button[type=button] {
        width: 115px;
        height: 40px;
        border: none;
        background: rgba(1, 1, 1, 1);
        font-size: 16px;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        line-height: 40px;
        text-align: center;
    }
}

.jobs-banner {
    margin: 100px 0;
    padding-top: 108px;
    padding-bottom: 117px;
    background: url(../images/jobs-bg.jpg) no-repeat center;
    background-size: cover;
    color: #fff;
    text-align: center;

    h4 {
        margin-bottom: 30px;
        font-size: 55px;
    }

    p {
        margin-bottom: 14px;
        font-size: 24px;
    }

    span {
        font-size: 14px;
        text-transform: uppercase;
    }

}

.jobs-list {
    section {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    header {
        position: relative;
        padding-left: 31px;
        background: rgba(249, 249, 249, 1);
        border: 1px solid rgba(235, 235, 235, 1);
        line-height: 43px;
        color: #a0a0a0;
        font-size: 14px;

        strong {
            color: #010101;
            font-weight: bold;
        }

        span {
            margin-right: 60px;
        }

        &:after {
            content: "+";
            position: absolute;
            right: 25px;
            color: black;
            font-size: 24px;
        }
    }

    .show {
        .content {
            display: block;
        }

        header:after {
            content: "-";
        }
    }

    .content {
        display: none;
        padding: 23px 32px;
        line-height: 30px;
        color: #7c7c7c;

        .button {
            display: block;
            width: 90px;
            margin: 19px 0 8px;
            border-radius: 16px;
            background: rgba(33, 184, 198, 1);
            color: #fff;
            text-align: center;
            line-height: 32px;
            font-weight: normal;
        }

        .info {
            a {
                color: black;
                font-weight: bold;
            }

            span {
                margin-right: 44px;
            }
        }
    }

    .mark {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 10;
        cursor: pointer;
    }
}

.article-content {
    position: relative;
    padding: 0 85px;
    header {
        padding: 83px 0 30px;
        text-align: center;
        border-bottom: 1px solid #ececec;
        .title {
            margin-bottom: 19px;
            font-size: 30px;
        }
        span {
            margin: 0 9px;
            color: $text-gray;
        }

    }
    section{
        p{
            padding: 18px 0;
            font-size: 15px;
            color: #010101;
            line-height: 35px;
            text-indent: 2em;
        }
        img{
            max-width: 100%;
        }
    }
    footer{
        padding-top: 74px;
        .link-more{
            margin: 65px auto 73px;
            border-color: #e2e2e2;
            color: $text-gray;
            line-height: 29px;
        }
    }
    
}
.related{
    display: flex;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    line-height: 38px;
    li{
        flex: 1;
    }
    a{
        color: #010101;
    }
    .icon{
        display: inline-block;
        width: 16px;
        height: 16px;
        margin: 0 5px;
        background-image: url(../images/icon001.jpg);
        background-repeat: no-repeat;
    }
    li:first-child{
        i{
            background-position: left top;
        }
    }
    li:last-child{
        i{
            background-position: right top;
        }
    }
}